div.container(ng-controller="TodoController as td")
  h3 To do
  .category
    span.tag(ng-repeat="category in td.categories"
             ng-class="[{active: td.active_category == category.type}, {true: category.color}[true]]"
             ng-click="td.toggleCategory(category.type)") {{ category.type }}
  .todo-list
    todo-item(ng-cloak
              ng-repeat="todo in td.todos | filter : {completed:false} track by todo.id"
              ng-class="{'selected': todo.id == td.selected_task}"
              todo="todo"
              selected-task="td.selected_task"
              on-toggle="td.toggle(id)"
              on-remove="td.remove(id)")
    //- .list(ng-cloak ng-repeat="todo in td.todos | filter : {completed:false} track by todo.id" ng-click="td.toggle(todo.id)" ng-class="{'selected': todo.id == td.selected_task}" style="transition-delay:{{$index * 100}}ms")
    //-   .row
    //-     div.left
    //-       span.tag.dur-todo(title="Duration") {{ todo.duration }}
    //-     div.right
    //-       div.close-btn(ng-click="td.remove(todo.id)") &times;
    //-   .row
    //-     p.title {{ todo.title }}
    //-     p.desc(ng-if="todo.desc") {{ todo.desc }}
    //-   .row
    //-     button.todo-edit(ng-show="todo.id == td.selected_task" ng-click="td.editTask(todo.id)") Edit
    //-     button.todo-edit(ng-show="todo.id == td.selected_task" ng-click="td.completeTask(todo.id)") Mark complete
